.button {
  color: #ffffff;
  font-family: 'PF Centro Serif Pro', sans-serif;;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  outline: none;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  transition: $delay;
  border-radius: 40px;
  background-color: #ec994e;
  padding: 23px 48px;

  &:hover {
    background: darken(#ec994e,15%);
  }

}
