<div class="quality">
    <div class="container quality__container">
        <img src="images/quality.png" alt="" class="quality__img">
        <div class="quality__content">
            <h2 class="quality__headline">Якість продукції</h2>
             <div class="quality__text">Звісно, ми довіряємо постачальникам, але наш споживач - діти,<br>
                 і треба бути певними в якості фруктів та овочів.</div>
             <div class="quality__text">
                На етапі переробки ми перевіряємо сировину на відсутність<br>шкідливих речовин: пестицидів, токсичних металів тощо.<br>
                І повторюємо процес на етапі розфасовки. Готові каші та пюре герметично запаковуються, завдяки чому всі корисні речовини<br> досягають споживача.<br>
                Кожен продукт має власний серійний номер, за яким можна<br> відслідкувати його історію.
             </div>
            <button class="button quality__button">Дiзнатись бiльше</button>
        </div>
    </div>
</div>