.quality {
  padding-top: 35px;
  padding-bottom: 35px;

  &__container {
    display: flex;
    padding-left: 78px;
    padding-right: 78px;

    @media(max-width: 1200px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media(max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    padding-top: 3px;
    display: flex;
    align-self: flex-start;

    @media(max-width: 992px) {
      align-self: center;
      margin-bottom: 30px;
    }
  }

  &__headline {
    color: #007e2f;
    letter-spacing: 1.2px;
    margin-bottom: 18px;
  }

  &__content {
    padding-left: 45px;

    @media(max-width: 992px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.35;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
  }

  &__button {
    margin-top: 3px;
  }
}