.reviews {
  padding-top: 97px;
  padding-bottom: 45px;

  &__container {
    text-align: center;
    margin: 0 auto;
  }

  &-slider {
    margin-top: 42px;
    margin-bottom: 56px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    outline: 1px solid red;

    &__slide{
      display: block;
      text-decoration: none;
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  &__headline {
    font-family: 'PF Centro Serif Pro', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #007e2f;
    text-align: center;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.4px;
  }

  &__button {
    padding: 28px 35px;
  }
}