<div class="reviews">
    <div class="container reviews__container">
        <div class="reviews__headline">Вiдгуки</div>
        <div class="reviews__description">Дізнавайтеся, що думають інші мами про каші та пюре Gerber Organic. Більше відгуків на нашій сторінці в Instagram.</div>
        <div class="reviews-slider">
            <a href="#" class="reviews-slider__slide">
                <img src="./images/slide1.png" alt="">
            </a>
            <a href="#" class="reviews-slider__slide">
                <img src="./images/slide2.png" alt="">
            </a>
            <a href="#" class="reviews-slider__slide">
                <img src="./images/slide3.png" alt="">
            </a>
            <a href="#" class="reviews-slider__slide">
                <img src="./images/slide4.png" alt="">
            </a>
            <a href="#" class="reviews-slider__slide">
                <img src="./images/slide5.png" alt="">
            </a>
        </div>
        <a href="#" class="button reviews__button">Перейти до Instagram</a>
    </div>
</div>