<div class="mash">
    <div class="container mash__container">
        <div class="mash__certificates">
            <h2 class="mash__headline">Пюре Gerber Organic</h2>
            <ul class="mash__certificates-items">
                <li class="mash__certificates-item">
                    <img src="images/mash1_desktop.png" alt="" class="mash__img-desktop">
                    <img src="images/mash1_mobile.png" alt="" class="mash__img-mobile">
                </li>
                <li class="mash__certificates-item">
                    <img src="images/mash2_desktop.png" alt="" class="mash__img-desktop">
                    <img src="images/mash2_mobile.png" alt="" class="mash__img-mobile">
                </li>
                <li class="mash__certificates-item">
                    <img src="images/mash3_desktop.png" alt="" class="mash__img-desktop">
                    <img src="images/mash3_mobile.png" alt="" class="mash__img-mobile">
                </li>
            </ul>
            <p class="mash__comment">*Детальний склад продуктiв дивiться на iндивiдуальних упаковках.</p>
        </div>
        <div class="mash__info">
            <div class="mash__description">
                <div class="mash__text">Ми виготовляємо пюре Gerber Organic виключно з органічної сировини.<br>
                    Це можливо завдяки фермерам, які постачають фрукти першого гатунку,<br>
                    дотримуючись правил Європейської органічної сертифікації.<br>
                    Доглянутий грунт та натуральні добрива дарують смачні та корисні фрукти, якими й ласують малюки.</div>

                <div class="mash__text">Пюре Gerber Organic рекомендовано до вживання дітям від 6 місяців. </div>
            </div>
            <div class="mash__img">
                <img src="images/fruits_bg.png" alt="">
            </div>
        </div>
        <div class="mash__products">
            <a href='#' class="mash__product">
                <div class="mash__product-wrap">
                    <div class="mash__product-status"></div>
                    <img src="images/mash1.png" alt="" class="mash__product-image image-new">
                        <div class="mash__product-title">
                                Пюре Gerber® Organic<br>
                                зі смаком груші та банану
                        </div>
                </div>
            </a>
            <a href='#' class="mash__product">
                <div class="mash__product-wrap">
                    <div class="mash__product-status"></div>
                    <img src="images/mash2.png" alt="" class="mash__product-image image-new">
                    <div class="mash__product-title">
                        Пюре Gerber® Organic<br>
                        зі смаком яблука, персика<br>
                        та абрикоса
                    </div>
                </div>
            </a>
            <a href='#' class="mash__product">
                <div class="mash__product-wrap">
                    <div class="mash__product-status"></div>
                    <img src="images/mash3.png" alt="" class="mash__product-image image-new">
                    <div class="mash__product-title">
                        Пюре Gerber® Organic<br>
                        зі смаком яблука й малини
                    </div>
                </div>
            </a>
            <a href='#' class="mash__product">
                <div class="mash__product-wrap">
                    <img src="images/mash4.png" alt="" class="mash__product-image image-new">
                    <div class="mash__product-title">
                        Мангове пюре Gerber® Organic
                    </div>
                </div>
            </a>
            <a href='#' class="mash__product">
                <div class="mash__product-wrap">
                    <img src="images/mash5.png" alt="" class="mash__product-image image-new">
                    <div class="mash__product-title">
                        Яблучне пюре Gerber® Organic
                    </div>
                </div>
            </a>
            <a href='#' class="mash__product">
                <div class="mash__product-wrap">
                    <img src="images/mash6.png" alt="" class="mash__product-image image-new">
                    <div class="mash__product-title">
                        Грушеве пюре Gerber® Organic
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>