.mash {

  @media(max-width: 375px) {
    margin-top: -7px;
  }

  &__container {
    padding-left: 0;
    padding-right: 0;
  }

  &__img {

    &-desktop {
      display: block;

      @media(max-width: 375px) {
        display: none;
      }
    }

    &-mobile {
      display: none;

      @media(max-width: 375px) {
        display: block;
        height: 226px;
      }
    }
  }

  &__headline {
    color: #fff;
    padding-left: 60px;
    padding-top: 19px;
    padding-bottom: 41px;

    @media(max-width: 640px) {
      padding-left: 0;
      text-align: center;
      font-size: 30px;
      padding-bottom: 20px;
    }

    @media(max-width: 375px) {
      font-size: 20px;
      padding-top: 9px;
      padding-left: 30px;
      padding-bottom: 14px;
      text-align: left;
    }
  }

  &__certificates {
    background-image: url(../images/products_bg.png);
    min-height: 400px;


    @media(max-width: 1200px) {
      padding-bottom: 10px;
    }

    @media(max-width: 375px) {
      padding-bottom: 6px;
    }

    &-items {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-right: 80px;
      padding-left: 80px;

      @media(max-width: 1200px) {
        align-items: center;
        padding-right: 0;
        padding-left: 0;
      }

      @media(max-width: 880px) {
        flex-direction: column;
      }

    }

    &-item {
      @media(max-width: 1200px) {
        display: flex;
        width: 50%;
        justify-content: center;
        padding-bottom: 25px;
      }

      @media(max-width: 576px) {
        width: 100%;
        padding-bottom: 0;
      }
    }
  }

  &__comment {
    padding-left: 25px;
    padding-top: 5px;
    font-family: 'PF Centro Serif Pro', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.3px;

    @media(max-width: 1200px) {
      padding-top: 0;
      margin-top: 0;
    }

    @media(max-width: 375px) {
      font-size: 6px;
      margin-top: 17px;
      padding-left: 35px;
    }
  }


  &__info {
    padding-left: 60px;
    padding-top: 16px;
    padding-right: 60px;

    @media(max-width: 992px) {
      padding-left: 40px;
      padding-right: 0px;
    }

    @media(max-width: 375px) {
      padding-left: 31px;
      padding-top: 8px;
    }
  }

  &__description {
    background-image: url(../images/fruits_bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 390px;
    width: 100%;

    @media(max-width: 992px) {
      background-size: contain;
    }

    @media(max-width: 768px) {
      background: none;
      min-height: 100px;
    }
  }

  &__text {
    margin-top: 0.5em;
    letter-spacing: 0.45px;
    line-height: 1.333;
    margin-bottom: 1.5em;
    padding-right: 40px;
    max-width: 720px;

    @media(max-width: 992px) {
      font-size: 16px;
    }

    @media(max-width: 800px) {
      font-size: 14px;
    }

    @media(max-width: 700px) {
      font-size: 12px;
    }

    @media(max-width: 375px) {
      font-size: 6px;
      line-height: 1.4;
    }
  }

  &__pics {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 0;
  }

  &__img {
    display: none;

    @media(max-width: 768px) {
      display: block;
    }
  }

  &__products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 63px;

    @media(max-width: 992px) {
      padding: 70px 40px 35px;
    }

    @media(max-width: 700px) {
      padding: 70px 63px 35px;
    }
  }

  &__product {
    margin: 0 auto;
    width: 30%;
    max-width: 290px;
    margin-bottom: 74px;
    text-decoration: none;

    @media(max-width: 900px) {
      width: 50%;
    }

    @media(max-width: 700px) {
      width: 100%;
    }

    &-wrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &-status {
      position: absolute;
      top: -50px;
      left: -50px;
      background-image: url(../images/new3.png);
      background-repeat: no-repeat;
      width: 107px;
      height: 103px;
    }

    &-title {
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: #005921;
      line-height: 1.3;
    }

    &-image {
      padding-bottom: 28px;
    }

  }

}
