<div class="about">
    <div class="container about__container">
        <div class="about__left">
            <h2 class="about__headline">Про Gerber Organic</h2>
            <div class="about__text about__intro">Найкращі злаки, овочі та фрукти - це ті, що ми власноруч виростили на грядці.
                Проте не кожен має час та наснагу цим займатися.</div>
            <h3 class="about__subtitle">Як з власної грядки</h3>
            <div class="about__text">Професійні фермери постачають нам злаки, овочі
                та фрукти зі своїх грядок вже багато років.<br>
                Їх об’єднують спільні принципи фермерства - Європейська органічна сертифікація.<br>
                Завдяки цьому Gerber Organic відповідає усім еко-вимогам:</div>
            <ul class="about__items">
                <li class="about__item">використання тільки натуральних добрив;</li>
                <li class="about__item">дбайлива обробка землі;</li>
                <li class="about__item">підтримка екосистеми грунту за рахунок створення сприятливих умов для розвитку мікроорганізмів.</li>
            </ul>
        </div>
        <img class="about__right" src="images/products.png">

    </div>
</div>