.about {
  padding-top: 25px;
  padding-bottom: 22px;


  @media(max-width: 375px) {
    padding-top: 27px;
    padding-bottom: 22px;
  }

  &__container {
    display: flex;

    @media(max-width: 640px) {
      flex-direction: column;
      align-items: center;
    }

    @media(max-width: 375px) {
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: -0.3px;
    }

  }

  &__headline {
    color: #007e2f;
    margin-bottom: 20px;

    @media(max-width: 992px) {
      font-size: 36px;
      margin-bottom: 16px;
    }

    @media(max-width: 800px) {
      font-size: 30px;
    }

    @media(max-width: 700px) {
      font-size: 24px;
      margin-bottom: 14px;
    }

    @media(max-width: 375px) {
      letter-spacing: -0.3px;
      margin-bottom: 3px;
    }

  }
  
  &__subtitle {
    color: #007e2f;
    margin-bottom: 25px;

    @media(max-width: 992px) {
      font-size: 24px;
      margin-bottom: 16px;
    }

    @media(max-width: 800px) {
      font-size: 20px;
    }

    @media(max-width: 700px) {
      font-size: 24px;
      margin-bottom: 14px;
    }

    @media(max-width: 375px) {
      margin-bottom: 5px;
      letter-spacing: -0.3px;
    }
  }

  &__text {
    line-height: 1.3333;
    letter-spacing: 0.4px;

    @media(max-width: 992px) {
      font-size: 16px;
    }

    @media(max-width: 800px) {
      font-size: 14px;
    }

    @media(max-width: 700px) {
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0;
    }

    @media(max-width: 375px) {
      line-height: 1.44;
      letter-spacing: 1.2px;
    }
  }

  &__intro {
    margin-bottom: 1.6em;

    @media(max-width: 375px) {
      margin-bottom: 8px;
      line-height: 1.5;
    }
  }

  &__items {
    margin-top: 1.5em;
    margin-left: 0;

    @media(max-width: 992px) {
      font-size: 16px;
    }

    @media(max-width: 800px) {
      font-size: 14px;
    }

    @media(max-width: 700px) {
      margin-top: 0.5em;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 0;
    }

    @media(max-width: 375px) {
      margin-top: 16px;
    }

  }

  &__item {
    line-height: 1.35;
    letter-spacing: 0.4px;
    max-width: 550px;
    display: flex;

    &:before {
      content: url(../images/green_dot_11x11.png);
      padding-right: 25px;
    }

    @media(max-width: 992px) {
      &:before {
        content: url(../images/green_dot_8x8.png);
        padding-right: 15px;
      }
    }

    @media(max-width: 700px) {
      line-height: 1.2;
    }

    @media(max-width: 375px) {
      line-height: 1.45;
      letter-spacing: 1px;
      font-size: 12px;

      &:before {
        content: url(../images/green_dot_11x11.png);
        padding-right: 9px;
      //  content: '\2022';
      //  color: #007e2f;
      //  padding-right: 5px;
      //  font-size: 7px;
      }
    }
  }

  &__left {
    padding-left: 45px;
    padding-right: 30px;

    @media(max-width: 992px) {
      padding-left: 10px;
    }


    @media(max-width: 640px) {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    @media(max-width: 375px) {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 5px;
    }

  }

  &__right {
    padding-right: 45px;
    margin-top: 14px;
    align-self: center;

    @media(max-width: 992px) {
      padding-right: 0;
      width: 300px;
    }

    @media(max-width: 800px) {
      width: 250px;
    }


    @media(max-width: 375px) {
      width: 101px;
      margin-left: 0;
      margin-top: 5px;
      align-self: flex-start;
    }
  }
}