<div class="video">
    <div class="container">
        <div class="video__description">Пюре серії Гербер Органік виготовлено з органічних фруктів, вирощених за єдиними правилами Європейської органічної сертифікації, тобто вони були вирощені без використання синтетичних добрив на спеціалізованому фермерському господарстві.</div>
        <div class="video__wrap" id="-9fAQMzVBuI">
            <iframe src="https://www.youtube.com/embed/-9fAQMzVBuI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
        <div class="video__comment">* У лінійці продукції Gerber®</div>
    </div>
</div>