.video {
  background-image: url(../images/video_bg.png);
  text-align: left;
  padding-top: 61px;
  padding-bottom: 52px;

  &__description {
    max-width: 1045px;
    margin: 0 auto;
    color: #ffffff;
    font-family: "PF Centro Serif Pro", sans-serif;;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.55px;
    text-align: center;
    margin-bottom: 36px;
    line-height: 1.25;

    @media(max-width: 375px) {
      font-size: 5px;
    }
  }

  &__comment {
    font-family: "PF Centro Serif Pro", sans-serif;;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: left;
    max-width: 1108px;
    margin: 0 auto;
    padding-top: 10px;

    @media(max-width: 375px) {
      font-size: 4px;
    }
  }

  &__wrap {
    display: block;
    margin: 0 auto;
    position: relative;
    padding-bottom: 47%;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    height: 0;
    overflow: hidden;
  }

  &__wrap iframe {
    max-width: 1132px;
    max-height: 608px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
  }

}