.top {
  background-image: url(../images/top_bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 385px;

  @media(max-width: 375px) {
    background-image: url(../images/top_bg_375.png);
    min-height: 140px;
  }
}