<div class="porridge">
    <div class="container porridge__container">
        <div class="porridge__certificates">
            <h2 class="porridge__headline">Кашi Gerber Organic</h2>
            <ul class="porridge__certificates-items">
                <li class="porridge__certificates-item">
                    <img src="images/cert1_desktop.png" alt="" class="porridge__img-desktop">
                    <img src="images/cert1_mobile.png" alt="" class="porridge__img-mobile">
                </li>
                <li class="porridge__certificates-item">
                    <img src="images/cert2_desktop.png" alt="" class="porridge__img-desktop">
                    <img src="images/cert2_mobile.png" alt="" class="porridge__img-mobile">
                </li>
                <li class="porridge__certificates-item">
                    <img src="images/cert3_desktop.png" alt="" class="porridge__img-desktop">
                    <img src="images/cert3_mobile.png" alt="" class="porridge__img-mobile">
                </li>
                <li class="porridge__certificates-item">
                    <img src="images/cert4_desktop.png" alt="" class="porridge__img-desktop">
                    <img src="images/cert4_mobile.png" alt="" class="porridge__img-mobile">
                </li>
            </ul>
            <p class="porridge__comment">*Детальний склад продуктiв дивiться на iндивiдуальних упаковках.</p>
        </div>
        <div class="porridge__description">
            <div class="porridge__text">Каші Gerber Organic виготовляють зі смачних фруктів та корисних злаків. Вони зростають на спеціалізованих фермерствах,
                що ведуть свою діяльність відповідно до правил Європейської органічної сертифікації. Це гарантія того, що злаки та фрукти вирощують на натуральних добривах та в збагаченому грунті.</div>

            <div class="porridge__text porridge__pics">Органічні каші Gerber Organic рекомендовано дітям від 6 місяців. <img src="images/cereal_bg.png" alt="" class="porridge__img"></div>
        </div>
        <div class="porridge__packs">
            <a href='#' class="porridge__pack">
                <img src="images/por1.png" alt="" class="porridge__pack-img">
                <div class="porridge__pack-title">Молочна пшенично-вівсяна каша Gerber Organic з банановим смаком</div>
            </a>
            <a href='#' class="porridge__pack">
                <img src="images/por2.png" alt="" class="porridge__pack-img">
                <div class="porridge__pack-title">Молочна пшенично-вівсяна каша Gerber Organic</div>
            </a>
            <a href='#' class="porridge__pack">
                <img src="images/por3.png" alt="" class="porridge__pack-img">
                <div class="porridge__pack-title">Безмолочна пшенично-вівсяна каша Gerber Organic з ванільним смаком</div>
            </a>
        </div>
    </div>
</div>