.porridge {

  &__container {
    padding-left: 0;
    padding-right: 0;
  }

  &__img {

    &-desktop {
      display: block;

      @media(max-width: 375px) {
        display: none;
      }
    }

    &-mobile {
      display: none;

      @media(max-width: 375px) {
        display: block;
        height: 225px;
      }
    }
  }

  &__headline {
    color: #fff;
    padding-left: 60px;
    padding-top: 16px;
    padding-bottom: 44px;

    @media(max-width: 640px) {
      padding-left: 0;
      text-align: center;
      font-size: 30px;
      padding-bottom: 20px;
    }

    @media(max-width: 375px) {
      font-size: 20px;
      padding-top: 6px;
      padding-left: 30px;
      padding-bottom: 6px;
      text-align: left;
    }
  }

  &__certificates {
    background-image: url(../images/products_bg.png);
    min-height: 400px;


    @media(max-width: 1200px) {
      padding-bottom: 10px;
    }

    @media(max-width: 375px) {
      padding-bottom: 4px;
    }

    &-items {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;

      @media(max-width: 1200px) {
        flex-wrap: wrap;
        align-items: center;
      }
    }

    &-item {
      @media(max-width: 1200px) {
        display: flex;
        width: 50%;
        justify-content: center;
        padding-bottom: 25px;
      }

      @media(max-width: 576px) {
        width: 100%;
        padding-bottom: 0;
      }
    }
  }

  &__comment {
    padding-left: 25px;
    padding-top: 5px;
    font-family: 'PF Centro Serif Pro', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.3px;

    @media(max-width: 1200px) {
      padding-top: 0;
      margin-top: 0;
    }

    @media(max-width: 375px) {
      font-size: 4px;
      margin-top: 17px;
      padding-left: 35px;
    }
  }

  &__description {
    padding-left: 60px;
    padding-top: 12px;
    padding-right: 60px;

    @media(max-width: 992px) {
      padding-left: 40px;
      padding-right: 0px;
    }

    @media(max-width: 375px) {
      padding-left: 31px;
      padding-top: 8px;
    }
  }

  &__text {
    margin-top: 0.5em;
    letter-spacing: 0.45px;
    line-height: 1.333;
    margin-bottom: 1.5em;
    padding-right: 40px;

    @media(max-width: 992px) {
      font-size: 16px;
    }

    @media(max-width: 800px) {
      font-size: 14px;
    }

    @media(max-width: 700px) {
      font-size: 12px;
    }

    @media(max-width: 375px) {
      font-size: 6px;
      line-height: 1.4;
    }
  }

  &__pics {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 0;
  }

  &__img {
    margin-right: 42px;
    margin-top: -23px;

    @media(max-width: 1200px) {
      width: 30%;
    }

    @media(max-width: 992px) {
      margin-top: 0;
    }

    @media(max-width: 375px) {
      margin-right: 13px;
      margin-top: -9px;
    }
  }

  &__packs {
    display: flex;
    justify-content: space-around;
    margin-top: -5px;

    @media(max-width: 840px) {
      flex-direction: column;
    }

  }

  &__pack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }

    @media(max-width: 992px) {
      margin-bottom: 50px;
    }

    @media(max-width: 400px) {
      margin-bottom: 24px;
    }

     &-img {
      align-self: center;
      padding-bottom: 17px;

       @media(max-width: 992px) {
         width: 218px;
       }

       @media(max-width: 840px) {
         width: auto;
       }

      @media(max-width: 400px) {
        width: 218px;
        padding-bottom: 13px;
      }
    }

    &-title {
      text-align: center;
      max-width: 350px;
      width: 100%;
      color: #005921;
      font-weight: 700;
      line-height: 1.4;
      font-size: 18px;

      @media(max-width: 1100px) {
        max-width: 300px;
        font-size: 16px;
      }

      @media(max-width: 400px) {
        max-width: 280px;
        font-size: 14px;
        line-height: 1.25;
      }
    }
  }
}