* {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

::placeholder {
  font-size: 16px;
  color: #23292e;
  letter-spacing: 0.32px;

  @media(max-width: 375px){
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  border: 0;
  outline: 0;
}

html,
body {
  min-height: 100%;
}

html {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #000;
}

body{
  margin: 0;
  padding: 0;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

hr {
  border-top: 0;
  border-color: #8c8c8c;
}

a {
  color: #00a2ff;;
  cursor: default;
}

a[href] {
  cursor: pointer;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

li {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  transition: $delay;
}


h1, h2 {
  font-family: 'PF Centro Serif Pro', sans-serif;
  font-size: 48px;
  font-weight: bold;
}

h1 {
  @media(max-width: 375px) {
    font-size: 13px;
  }
}

h2 {
  @media(max-width: 375px) {
    font-size: 20px;
  }
}

h3 {
  font-family: 'PF Centro Serif Pro', sans-serif;
  font-size: 36px;
  font-weight: bold;

  @media(max-width: 375px) {
    font-size: 10px;
  }

}